header {
  background-image: url("http://images.clipartpanda.com/working-together-pictures-PartnershipWorking250x187.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  height: 180px;
