<div class="x-entry">
  <h4>All Task List</h4>

  <ul>
    <span> _______ ID | Complete? | TASK  | ASSIGNED TO | DESCRIPTION  | ASSIGNED BY | DUE DATE | COMPLETED ON | </span>
    <li ng-repeat="p in api.projectList" >
      <button class="x-btn x-btn-add" ng-click="api.deleteOneProject($index)">remove</button>
      <span ng-click="api.projectEdit($index)"> P{{$index}} | {{p._id}} | {{p.name}} | {{ p.description }} | {{p.skillsRequired.join}} | {{ p.dateStart.slice(0,10) }} | {{p.dateEnd}} | {{task.baseLocation}}</span>
      <div ng-repeat="who in p.memberList">
        <button class="x-btn x-btn-add" ng-click="api.deleteOneMember($index)">remove</button>
        <span> ------- {{$index}} of {{$parent.$index}} | [{{who.name}}] slack:{{who.emailContact}} from {{who.location}}<span>
      </div>
      <button class="x-btn x-btn-add" ng-click="api.newMember()">new member</button>
    </li>
    <button class="x-btn x-btn-add" ng-click="api.newProject()">new project</button>
  </ul>

</div>
		<main ui-view></main>
